div.boton-tic-tac{
    width: 100px;
    height: 100px;
    background-color: gray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

i.icono{
    font-size: 80px;
    color: white;
}

i.icono.oculto{
    display: none;
}