div.bola-bingo{
    font-size: 40px;
    width:80px;
    height: 80px;
    background-color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
}